@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Myanmar:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

:root{
    font-family: "Poppins", sans-serif;
    color-scheme: light;
    --hero-bg: #fcfcf4;
    --services-bg: #feffff;
    --about-bg: #fafaf7;
    --transition-duration: 0.8s;

}

html {
  scroll-behavior: smooth;
}



section {
  transition: background-color 0.5s ease-in-out;
}

.bg-hero {
  background: linear-gradient(180deg, var(--hero-bg), var(--services-bg));
  transition: background-color var(--transition-duration) ease-in-out;
}

.bg-services {
  background: linear-gradient(180deg, var(--services-bg), var(--about-bg));
  transition: background-color var(--transition-duration) ease-in-out;
}

.bg-about {
  background: linear-gradient(180deg, var(--about-bg), var(--services-bg));
  transition: background-color var(--transition-duration) ease-in-out;
}

a {
    position: relative;
  }
  
a::before {
      content: '';
      position: absolute;
      width: 100%;
      height: 4px;
      border-radius: 4px;
      background-color: #18272F;
      bottom: 0;
      left: 0;
      transform-origin: right;
      transform: scaleX(0);
      transition: transform .3s ease-in-out;
    }
  
a:hover::before {
    transform-origin: left;
    transform: scaleX(1);
  }